header.header {
    background-color: var(--bg-dark);
    color: #fff;
    padding: 10px 20px;
    font-size: large;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: var(--shadow);
    


}

header.header h1 + * {
    font-size: large;
    color: #fff;
    font-weight: 900;
    
}

header {
    font-size: small;
}

header.header small,
header.header p,
header.header .lead,
header.header .subtitle {
    color: #fff;
    font-weight: 460;
    
    
}