aside.menu-area { 
    background-color: var(--bg-dark);
    box-shadow: 
        2px 0 10px rgba(0, 0, 0, 0.12),
        2px 0 15px lab(0% 0 0 / 0.09);
        
        
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding: 0 16px;
  min-height: var(--menu-top-height);
  
}

.menu a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: 550;
    padding: 12px 10px;
    white-space: wrap;


}

.menu a i {
    margin-right: 9px;
} 

.menu a:hover {
    background: linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, rgb(255, 209, 110) 100%);
}

@media(max-width: 768px) {
    .menu {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 100%;
        align-items: center;
    }

    .menu a {
        /*display: inline;*/
        padding: 10px;
        margin: 0px;
    }

    
}